.audio-player {
  min-width: 80%;
  width: 80%;
  margin: auto;
}

.appearances {
  margin-bottom: 10px;
}

.appearance-add-button-container {
  padding: 0 !important;
}

.appearance-add-button {
  width: 100%;
}
